.cart {
  .headerImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 1583px;
      height: 316px;
    }

    h2 {
      position: absolute;
      top: 37%;
      transform: translateY(-50%);
      color: #000000;
      font-size: 48px;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .breadcrumb {
      position: absolute;
      top: 63%; 
      color: #666666;
      font-size: 18px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;

      .bold {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
      }
      .hifen {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 600;
        color: #000000;
      }
      .normal {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #000000;
      }
    }
    @media (min-width: 1584px) and (max-width: 2437px) {
      img {
        width:130%;
        height: 316px;
      }
     }
     @media (min-width: 1500px) and (max-width: 1583px) {
      img {
        width:110%;
        height: 316px;
      }
    }
    @media (min-width: 1401px) and (max-width: 1500px) {
      img {
        width:115%;
        height: 316px;
      }
    }
    @media (min-width: 1301px) and (max-width: 1400px) {
      img {
        width:130%;
        height: 316px;
      }
      h2{
        margin-left: 80px;
      }
      .bold{
        margin-left: 80px;
      }
    }
    @media (min-width: 1201px) and (max-width: 1300px) {
      img {
        width:150%;
        height: 316px;
      }
      h2{
        margin-left: 150px;
      }
      .bold{
        margin-left: 150px;
      }
    }
  
    @media (min-width: 1101px) and (max-width: 1200px) {
      img {
        width:165%;
        height: 316px;
      }
      h2{
        margin-left: 250px;
      }
      .bold{
        margin-left: 250px;
      }
    }
    @media (min-width: 1001px) and (max-width: 1100px) {
      img {
        width:190%;
        height: 316px;
      }
      h2{
        margin-left: 380px;
      }
      .bold{
        margin-left: 380px;
      }
    }
    @media (min-width: 901px) and (max-width: 1000px) {
      img {
        width:225%;
        height: 316px;
      }
      h2{
        margin-left: 480px;
      }
      .bold{
        margin-left: 480px;
      }
    }
    @media (min-width: 801px) and (max-width: 900px) {
      img {
        width:265%;
        height: 316px;
      }
      h2{
        margin-left: 620px;
      }
      .bold{
        margin-left: 620px;
      }
    }
    @media (min-width: 701px) and (max-width: 800px) {
      img {
        width:315%;
        height: 316px;
      }
      h2{
        margin-left: 580px;
      }
      .bold{
        margin-left: 580px;
      }
      // .hifen{
      //   margin-left: 750px;
      // }
    }
    @media (min-width: 601px) and (max-width: 700px) {
      img {
        width:390%;
        height: 316px;
      }
      // h2{
      //   margin-left: 580px;
      // }
      // .bold{
      //   margin-left: 580px;
      // }
    }
    @media (min-width: 501px) and (max-width: 600px) {
      img {
        width:480%;
        height: 316px;
      }
    }
    @media (min-width: 401px) and (max-width: 500px) {
      img {
        width:620%;
        height: 316px;
      }
    }
    @media (min-width: 350px) and (max-width: 400px) {
      img {
        width:700%;
        height: 316px;
      }
    }
  }

  .productdetails {
    width: 1583px;
    height: 450px;
    background-color: #ffffff;

    .productheader {
      display: flex;
      flex-direction: row;
      width: 830px;
      height: 55px;
      background-color: #f9f1e7;
      margin-left: 160px;
      margin-top: 70px;
      .types {
        display: flex;
        position: absolute;
        left: 19%;
        top: 65%;
        gap: 120px;
        span {
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          margin-top: 5px;
        }
      }
    }

    .productbody {
      display: flex;
      justify-content: center;
      margin-top: 70px;

      .allcarts {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 39%;
        top: 75%;
        left: 10%;
        .items {
          display: flex;
          gap: 80px;
          align-items: center;
          margin-bottom: 20px;

          img {
            display: flex;
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 10px;
          }

          span {
            display: flex;
            position: relative;
            left: -5%;
            font-size: 16px;
            font-weight: 400;
            color: #9f9f9f;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 0px;
          }
          .quantity {
            display: flex;
            position: relative;
            gap: 10px;
            justify-content: space-between;
            .box-minus{
              font-size: 20px;
              font-weight: 700;
              cursor: pointer;
            }
            .box-plus{
              font-size:20px;
              font-weight: 700;
              cursor: pointer;
            }
            .box {
              width: 25px;
              height: 25px;
              border: 1px solid #9f9f9f;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              margin-right: 0px;
              align-items: center;
              font-size: 12px;
              font-weight: bold;
              color: black;
              margin-top: 3px;
            }
          }

          .svg2 {
            margin-top: 0px;
            cursor: pointer;
          }

          p {
            font-size: 16px;
            font-weight: 500;
            color: #000000;
            margin-top: 10px;
          }
        }
      }
    }

    .producttotal {
      position: absolute;
      left: 65%;
      top: 63%;
      width: 393px;
      height: 390px;
      background-color: #f9f1e7;

      h1 {
        margin-left: 10px;
        font-size: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 50px;
      }

      .top {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 20%;
        gap: 80px;
        left: 20%;
        align-items: center;
        margin-top: 50px;
        p {
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        span {
          font-size: 16px;
          font-weight: 400;
          color: #9f9f9f;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      }

      .bottom {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 33%;
        gap: 80px;
        left: 20%;
        align-items: center;
        margin-top: 50px;
        p {
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        span {
          font-size: 20px;
          font-weight: 500;
          color: #b88e2f;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      }
      button {
        position: absolute;
        top: 67%;
        left: 23%;
        width: 222px;
        height: 59px;
        background-color: #f9f1e7;
        border: 1px solid #000000;
        border-radius: 15px;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
  @media (min-width: 1584px) and (max-width: 2437px) {
    .productdetails{
      position: relative;

    }
    .types{
      margin-top: -280px;
     }
     .producttotal{ 
      margin-left: 40px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: 00px;
      bottom: 10%;
     }
  
   }
  @media (min-width: 1501px) and (max-width: 1585px) {
    .productdetails{
      position: relative;
    }
    .productheader{
      position: relative;
      left: -5%;
    }
    .types{
      margin-top: -25px;
      margin-left: -50px;
     }
     .producttotal{ 
      margin-left: -90px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -90px;
      bottom: 10%;
     }

  }
  @media (min-width: 1401px) and (max-width: 1500px) {
    .productdetails{
      position: relative;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 1301px) and (max-width: 1400px) {
    .productdetails{
      position: relative;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 1201px) and (max-width: 1300px) {
    .productdetails{
      position: relative;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }

  @media (min-width: 1101px) and (max-width: 1200px) {
    .productdetails{
      position: relative;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 1001px) and (max-width: 1100px) {
    .productdetails{
      position: relative;
      left: 3%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 901px) and (max-width: 1000px) {
    .productdetails{
      position: relative;
      left: 3%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 801px) and (max-width: 900px) {
    .productdetails{
      position: relative;
      left: 1%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 701px) and (max-width: 800px) {
    .productdetails{
      position: relative;
      left: 1%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 601px) and (max-width: 700px) {
    .productdetails{
      position: relative;
      left: 5%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 501px) and (max-width: 600px) {
    .productdetails{
      position: relative;
      left: 7%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 401px) and (max-width: 500px) {
    .productdetails{
      position: relative;
      left: 12%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }
  @media (min-width: 350px) and (max-width: 400px) {
    .productdetails{
      position: relative;
      left: -5%;
    }
    .productheader{
      position: relative;
      left: -7%;
    }
    .types{
      margin-top: -25px;
      margin-left: -70px;
     }
     .producttotal{ 
      margin-left: -120px;
      margin-top: -283px;
     }
     .productbody{
      position: relative;
      margin-left: -120px;
      bottom: 10%;
     }
  }

  .supportcontainer {
    width: 1583px;
    height: 270px;
    background-color: #faf3ea;
    margin-top: 110px;
    margin-bottom: -250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .support-item {
      display: flex;
      align-items: center;
      width: 200px;
      margin-left: 100px;
    }

    svg {
      width: 50px;
      height: 50px;
      margin-right: 250px;
      margin-left: 70px;
    }

    .support-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .title {
      font-size: 25px;
      font-weight: 600;
      margin-left: 130px;
      margin-top: -60px;
      color: #242424;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
      color: #898989;
      margin-bottom: 0px;
      margin-left: 130px;
      margin-top: 0px;
    }
  }
  @media (min-width: 1584px) and (max-width: 2437px) {
    .supportcontainer{
      width: 100%;
    }
  
   }
  @media (min-width: 1501px) and (max-width: 1585px) {
    .supportcontainer{
      width: 95%;
    }
  
  }
  @media (min-width: 1401px) and (max-width: 1500px) {
    .supportcontainer{
      width: 100%;
    }
  
  }
  @media (min-width: 1301px) and (max-width: 1400px) {
    .supportcontainer{
      width: 108%;
    }
  
  }
  @media (min-width: 1201px) and (max-width: 1300px) {
    .supportcontainer{
      width: 118%;
    }
  }
  @media (min-width: 1101px) and (max-width: 1200px) {
    .supportcontainer{
      width: 128%;
    }
  
  }
  @media (min-width: 1001px) and (max-width: 1100px) {
    .supportcontainer{
      width: 145%;
    }
  
  }
  @media (min-width: 901px) and (max-width: 1000px) {
    .supportcontainer{
      width: 160%;
    }
  
  }
  @media (min-width: 801px) and (max-width: 900px) {
    .supportcontainer{
      width: 174%;
    }
  
  }
  @media (min-width: 701px) and (max-width: 800px) {
    .supportcontainer{
      width: 197%;
    }
  
  }
  @media (min-width: 601px) and (max-width: 700px) {
    .supportcontainer{
      width: 233%;
    }
  
  }
  @media (min-width: 501px) and (max-width: 600px) {
    .supportcontainer{
      width: 280%;
    }
  
  }
  @media (min-width: 401px) and (max-width: 500px) {
    .supportcontainer{
      width: 350%;
    }
  
  }
  @media (min-width: 350px) and (max-width: 400px) {
    .supportcontainer{
      width: 380%;
    }
  
  }
}
