.home {
  position: relative;
}
.image-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 5%;
  left: 56%;
  width: 640px;
  height: 443px;
  background-color: #fff3e3;

  .title {
    margin-top: 60px;
    margin-right: 500px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .heading {
    margin-top: 20px;
    // margin-right: 380px;
    margin-left: -270px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #b88e2f;
    display: inline;
    word-wrap: break-word;
  }
  .heading1 {
    margin-top: 0px;
    margin-left: -215px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #b88e2f;
  }
  p {
    margin-top: 20px;
    margin-right: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    font-weight: 500;
  }
  button {
    width: 222px;
    height: 74px;
    background-color: #b88e2f;
    color: white;
    border: 1px solid #b88e2f;
    margin-top: 40px;
    margin-right: 350px;
    cursor: pointer;
  }
}

.Imgcontainer {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  .title {
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;

    p {
      margin-top: 1px;
      margin-left: 5px;
      color: #666666;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 20px;
      font-weight: 400;
      align-items: center;
    }
  }

  .images {
    display: flex;
    margin-left: 190px;
    margin-top: 30px;

    .image-container {
      position: relative;
      margin-right: 20px;

      img {
        width: 381px;
        height: 480px;
        margin-bottom: 20px;
      }

      .paragraph {
        position: absolute;
        // bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;

        p {
          margin-top: 30px; 
          font-size: 24px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: 600;
          color: #333333;
          font-weight: 600;
          margin: 0;
        }
      }
    }
  }
}
.productcontainer {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 10px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

    .card {
      width: 285px;
      height: 446px;
      margin: 10px;
      border: 1px solid #ccc;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;

      .badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgb(231, 127, 127);
        color: #ffffff;
        border-radius: 70px;
        border: 2px solid rgb(231, 127, 127);
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
      }

      .greenbadge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgb(108, 168, 196);
        color: #ffffff;
        border-radius: 70px;
        border: 2px solid rgb(108, 168, 196);
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
      }

      .image {
        img {
          width: 100%;
          height: auto;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }

      .info {
        padding: 10px;
        background-color: #f4f5f7;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        p {
          margin-right: 130px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: 600;
          color: #3a3a3a;
          font-size: 24px;
          margin-top: 10px;
        }
        .span {
          margin-right: 130px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: 500;
          color: #898989;
          font-size: 15px;
          margin-top: -15px;
        }
        .price {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-weight: 600;
          color: #3a3a3a;
          font-size: 20px;
          margin-left: 10px;
        }
      }

      &:nth-child(2) {
        .overlay1 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #3a3a3a;
          opacity: 0.7;
          border-radius: 5px;
          .add-to-cart {
            width: 202px;
            height: 48px;
            background-color: #ffffff;
            border: 1px solid #ffffff;
            margin-top: 185px;
            color: #B88E2F;
            font-weight: 600;
            font-size: 16px;
          }
          .icons {
            display: flex;
            align-items: center; 
            margin-left: 10px;
            margin-top: 10px;
            gap: 3px;
        
            svg {
              fill: #ffffff; 
              width: 16px; 
              height: 16px; 
              margin-right: 5px;
              // margin-left: 5px;
            }
        
            span {
              color: #ffffff;
              font-size: 16px;
              font-weight: 600;
              margin-left: 8px; 
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .productbtn{

    button{
      margin-top: 25px;
      width: 245px;
      height: 48px;
      border: 1px solid #B88E2F;
      margin-bottom: 15px;
      color: #B88E2F;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
      font-size: 16px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}
