
@import "../../styles/responsive.scss";

.footerinfo {
    border-top: 1px solid#D9D9D9;
    margin-top: 250px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 1583px;
    height: 500px;
  
    .portion1 {
      width: 23%;
      padding: 10px;
  
      h2 {
        margin-left: -80px;
        font-size: 24px;
        color: #000000;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: 700;
        margin-top: 35px;
      }
      .t1 {
        margin-top: 65px;
        font-size: 16px;
        margin-left: 95px;
        color: #9f9f9f;
        font-weight: 400;
      }
      .t2 {
        margin-left: -109px;
        margin-top: -10px;
        font-size: 16px;
        color: #9f9f9f;
        font-weight: 400;
      }
      .t3 {
        margin-left: -58px;
        margin-top: -10px;
        font-size: 16px;
        color: #9f9f9f;
        font-weight: 400;
      }
    }
    .portion2 {
      padding: 10px;
  
      h3 {
        margin-top: 30px;
        font-size: 18px;
        margin-bottom: 10px;
        color: #9f9f9f;
        font-weight: 500;
        font-size: 16px;
      }
  
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-top: 50px;
          margin-bottom: 50px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
  
          a {
            text-decoration: none;
            color: #000000;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }
  
    .portion3 {
      width: 23%;
      padding: 10px;
  
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #9f9f9f;
        font-weight: 500;
        font-size: 16px;
        margin-top: 30px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-top: 50px;
          margin-bottom: 50px;
          text-decoration: none;
          color: #000000;
          font-weight: 500;
          font-size: 16px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  
    .portion-horizontal {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 200px;
  
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #9f9f9f;
        font-weight: 500;
        font-size: 16px;
        margin-top: 30px;
        margin-right: 180px;
      }
  
      .subscription {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        margin-top: 40px;
  
        .email {
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          color: #9f9f9f;
  
          &:after {
            content: "";
            display: block;
            width: 100%;
            border-top: 1px solid #000;
            margin-top: 5px;
          }
        }
  
        .subs {
          margin: 0;
          font-size: 16px;
          color: #000000;
          font-weight: 500;
  
          &:after {
            content: "";
            display: block;
            width: 100%;
            border-top: 1px solid #000;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .line2 {
    margin-top: -120px;
    margin-left: 100px;
    margin-right: 100px;
    border-top: 1px solid #d9d9d9;
  }
  .footerinfobottom {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-left: 110px;
    margin-top: 40px;
  
    .bottominfo {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
    }
  }